<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>辽宁省</key>
	<array>
		<string>沈阳</string>
		<string>大连</string>
		<string>鞍山</string>
	</array>
	<key>黑龙江省</key>
	<array>
		<string>哈尔滨</string>
		<string>大庆</string>
		<string>佳木斯</string>
	</array>
	<key>吉林省</key>
	<array>
		<string>四平</string>
		<string>白城</string>
		<string>长春</string>
		<string>吉林</string>
		<string>梅河</string>
	</array>
</dict>
</plist>
